div{
    margin-bottom: 50px;
    background-color: whitesmoke;
}
.menu li {
     list-style-type: none;
    display: inline-block;
    padding: 5px;
    text-transform: uppercase;
    text-decoration: none;
}
.menu{
    background-image: url(pastel.jpg);
    opacity: 0.7;
    border: 1px rgb(207, 194, 188);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

h1 {
    text-align: center;
    font-weight: lighter;
    font-style: italic;
    color: plum;
} 
h2{
    text-align: center;
    font-size: x-large;
    color: plum;
} 
.welcome{
    background-image: url(paint1.jpg);
    background-size: contain;
    color: white;
    padding: 50px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: xx-large;
}
.home-pics{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    justify-content: space-around;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
.home-pics img{
    width: 100%;
    margin-bottom: 10px;
}
.pics{
    display:flex;
}
h4{
    text-shadow: 2px 2px 4px black;
    font-size: xx-large;
    text-align: center;
    color: plum;
}
.me{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    background-image: url(pastel.jpg);
}
.ff{
    font-size: 15px;
    padding-left: 5px;
}
.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
 .text {
    font-size: 15px;
    padding-left: 5px;
  }
   
i {
    text-align: center;
}
.links{
    justify-content: right;
    color: black;
}
.footer{
    background-color:rgb(207, 194, 188);
    background-image: url(footer.jpg);
    border: 1px rgb(207, 194, 188);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
.footer a{
    align-items: center;

}
.footer p{
    text-align: center;
}
form{
    text-align: center;
}
button{
    background-color: plum;
    color:aliceblue;
}
.intro{
    display:flex;
    flex-wrap: wrap;
}
.image-item{
    width:20%;
    padding:10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.image-item img{
    width:100%;
    height:auto;
}
.recipes{
    display:flex;
    flex-wrap: wrap;

}
.food-image{
    width:33.33%;
    padding:10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.food-image img{
    width:100%;
    height:auto;
}
.travel-pics{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    justify-content: space-evenly;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.travel-pics img{
    width: 100%;
    margin-bottom: 10px;
}
.travel{
    display:flex;
    
}
.destination{
    display:flex;
    flex-wrap: wrap;

}
.d-image{
    width:33.33%;
    padding:10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.d-image img{
    width:100%;
    height:auto;
}
.film-images{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    justify-content: space-evenly;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.film-images img{
    width: 100%;
    margin-bottom: 10px;
}
.film{
    display:flex;
}
.reads{
    display:flex;
    flex-wrap: wrap;

}
.books{
    width:16.66%;
    padding:10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.books img{
    width:100%;
    height:auto;
}
.music-images{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    justify-content: space-evenly;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.music-images img{
    width: 100%;
    margin-bottom: 10px;
}
.music{
    display:flex;
}
.blaiy{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    background-image: url(pastel.jpg);
}
.blaiy img{
    border-radius: 10%;
}
.killua{
    display:flex; 
    flex-direction: row;
    align-items: center;
}
.killua img{
    float:left; 
    margin-right:10px; 
    border-radius:50%;
    width: 100px;
    height:100px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.gojo{
    display:flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.gojo img{
    float:right; 
    margin-right:10px; 
    border-radius:50%;
    width: 100px;
    height:100px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.dazai{
    display:flex; 
    flex-direction: row;
    align-items: center;
}
.dazai img{
    float:left; 
    margin-right:10px; 
    border-radius:50%;
    width: 100px;
    height:100px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.chuuya{
    display:flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.chuuya img{
    float:right; 
    margin-right:10px; 
    border-radius:50%;
    width: 100px;
    height:100px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.hisoka{
    display:flex; 
    flex-direction: row;
    align-items: center;
}
.hisoka img{
    float:left; 
    margin-right:10px; 
    border-radius:50%;
    width: 100px;
    height:100px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.tengen{
    display:flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.tengen img{
    float:right; 
    margin-right:10px; 
    border-radius:50%;
    width: 100px;
    height:100px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.loid{
    display:flex; 
    flex-direction: row;
    align-items: center;
}
.loid img{
    float:left; 
    margin-right:10px; 
    border-radius:50%;
    width: 100px;
    height:100px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.study{
    display:flex; 
    flex-direction: row;
    align-items:end;
    background-image:url(pastel.jpg)
}
.study img{
    float:left; 
    margin-right:10px; 
    border-radius:50%;
    width: 400px;
    height:400px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.life-images{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    justify-content: space-evenly;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.life-images img{
    width: 100%;
    margin-bottom: 10px;
}
.lifestyle{
    display:flex;
}
.family{
    display:flex; 
    justify-content: center;
    align-items:center;
    background-image:url(pastel.jpg)
}
.family img{
    float:left; 
    margin-right:10px; 
    border-radius:50%;
    width: 400px;
    height:400px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.friend{
    display:flex; 
    justify-content: center;
    align-items:center;
    background-image:url(pastel.jpg)
}
.friend img{
    float:left; 
    margin-right:10px; 
    border-radius:50%;
    width: 400px;
    height:400px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}